--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.12.1
numpy==2.5.0
opencv-python-headless==5.0.0.93
Pillow==12.2.0
PyYAML==6.0.3
albumentations==2.0.8
kornia==0.8.2
scipy==1.16.2
colour-science==0.4.7
colour-demosaicing==0.2.6
tensorboard==2.20.0
thop==0.1.1.post2209072238
pytest==8.4.2
matplotlib==3.11.0
